<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163133494386-7p027u8345cip3hmf3glf567dlhv8jgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163133494386-7p027u8345cip3hmf3glf567dlhv8jgf</string>
	<key>API_KEY</key>
	<string>AIzaSyBJwew_Z3bHIQc_8wKxzzpFSn8n1oBM9Pg</string>
	<key>GCM_SENDER_ID</key>
	<string>163133494386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialNetworkTest</string>
	<key>PROJECT_ID</key>
	<string>minisocialapp-b6ecb</string>
	<key>STORAGE_BUCKET</key>
	<string>minisocialapp-b6ecb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163133494386:ios:2ae51221bea8e873d25eeb</string>
	<key>DATABASE_URL</key>
	<string>https://minisocialapp-b6ecb.firebaseio.com</string>
</dict>
</plist>